<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&family=Lora:ital@1&family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="main-content">
    <header class="section sec1 header active" id="home">
        <div class="header-content">
            <div class="left-header">
                <div class="h-shape"></div>
                <div class="image">
                    <img id="img-home" alt="Home Image" width="100%">
                </div> 

            </div>
            <div class="right-header">
                <h1 class="name">
                    Hi, I'm <span class="name">Andreas Vieten</span><br>
                    A Blockchain Developer.
                </h1>
                <p>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."


                </p>
                <div class="btn-con">
                    <a href="#" class="main-btn">
                        <span class="btn-text">Download CV</span>
                        <span class="btn-icon"><i class="fa-solid fa-file-arrow-down"></i></span>
                    </a>
                </div>
 
            </div>
        </div>
        
    </header>
    <main>
        <section class="section sec2 about" id="about">
            <div class="main-title">
                <h2>About <span>me</span><span class="bg-text">my stats</span></h2>
            </div>
            <div class="about-container">
                <div class="left-about">
                    <h4>Information about me</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br /><br /> 
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
                        eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                        sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <div class="btn-con">
                        <a href="#" class="main-btn">
                            <span class="btn-text">Download CV</span>
                            <span class="btn-icon"><i class="fa-solid fa-file-arrow-down"></i></span>
                        </a>
                    </div>
                </div>
                <div class="right-about">
                    <div class="about-item">
                        <div class="abt-text">
                            <p class="large-text">560+</p>
                            <p class="small-text">Projects <br /> Completed</p>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="abt-text">
                            <p class="large-text">10+</p>
                            <p class="small-text">Years of <br /> experience</p>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="abt-text">
                            <p class="large-text">300+</p>
                            <p class="small-text">Happy <br /> Clients</p>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="abt-text">
                            <p class="large-text">400+</p>
                            <p class="small-text">Customer <br /> Reviews</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-stats">
                <h4 class="stat-title">My Skills</h4>
                <div class="progress-bars">
                    <div class="progress-bar">
                        <p class="progress-title">html5</p>
                        <div class="progress-con">
                            <p class="progress-text">80%</p>
                            <div class="progress">
                                <span class="html"></span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-bar">
                        <p class="progress-title">python</p>
                        <div class="progress-con">
                            <p class="progress-text">70%</p>
                            <div class="progress">
                                <span class="html"></span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-bar">
                        <p class="progress-title">CSS</p>
                        <div class="progress-con">
                            <p class="progress-text">70%</p>
                            <div class="progress">
                                <span class="css"></span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-bar">
                        <p class="progress-title">JS</p>
                        <div class="progress-con">
                            <p class="progress-text">60%</p>
                            <div class="progress">
                                <span class="js"></span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-bar">
                        <p class="progress-title">node.js</p>
                        <div class="progress-con">
                            <p class="progress-text">65%</p>
                            <div class="progress">
                                <span class="node-js"></span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-bar">
                        <p class="progress-title">solidity</p>
                        <div class="progress-con">
                            <p class="progress-text">50%</p>
                            <div class="progress">
                                <span class="solidity"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="stat-title">My Timeline</h4>
            <div class="timeline">
                <div class="timeline-item">
                    <div class="tl-icon">
                        <i class="fa-solid fa-briefcase"></i>
                    </div>
                    <div class="tl-duration">2010 - present</div>
                    <h5>Web Developer<span> - Companyname</span></h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
                <div class="timeline-item">
                    <div class="tl-icon">
                        <i class="fa-solid fa-briefcase"></i>
                    </div>
                    <div class="tl-duration">2010 - present</div>
                    <h5>Web Developer<span> - Companyname</span></h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
                <div class="timeline-item">
                    <div class="tl-icon">
                        <i class="fa-solid fa-briefcase"></i>
                    </div>
                    <div class="tl-duration">2010 - present</div>
                    <h5>Web Developer<span> - Companyname</span></h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
        </section>
        <section class="section sec3 portfolio" id="portfolio">
            <div class="main-title">
                <h2>My <span>Portolio</span><span class="bg-text">My Work</span></h2>
            </div>
            <p class="port-text">
                Here is some random text. It*s random and used to be a placeholder.
            </p>
            <div class="portfolios">
                <div class="portfolio-item">
                    <div class="image">
                        <img id="port-img-1" alt="porfolioImage1">
                    </div>
                    <div class="hover-items">
                        <h3>Project Source</h3>
                        <div class="icons">
                            <a href="#" class="icon">
                                <i class="fa-brands fa-github"></i>
                            </a>
                            <a href="#" class="icon">
                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                            </a>
                            <a href="#" class="icon">
                                <i class="fa-solid fa-image"></i>
                            </a>
                        </div>
                        
                        
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="image">
                        <img id="port-img-2" alt="porfolioImage2">
                    </div>
                    <div class="hover-items">
                        <h3>Project Source</h3>
                        <div class="icons">
                            <a href="#" class="icon">
                                <i class="fa-brands fa-github"></i>
                            </a>
                            <a href="#" class="icon">
                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                            </a>
                            <a href="#" class="icon">
                                <i class="fa-solid fa-image"></i>
                            </a>
                        </div>
                        
                        
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="image">
                        <img id="port-img-3" alt="porfolioImage3">
                    </div>
                    <div class="hover-items">
                        <h3>Project Source</h3>
                        <div class="icons">
                            <a href="#" class="icon">
                                <i class="fa-brands fa-github"></i>
                            </a>
                            <a href="#" class="icon">
                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                            </a>
                            <a href="#" class="icon">
                                <i class="fa-solid fa-image"></i>
                            </a>
                        </div>
                        
                        
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="image">
                        <img id="port-img-4" alt="porfolioImage4">
                    </div>
                    <div class="hover-items">
                        <h3>Project Source</h3>
                        <div class="icons">
                            <a href="#" class="icon">
                                <i class="fa-brands fa-github"></i>
                            </a>
                            <a href="#" class="icon">
                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                            </a>
                            <a href="#" class="icon">
                                <i class="fa-solid fa-image"></i>
                            </a>
                        </div>
                        
                        
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="image">
                        <img id="port-img-5" alt="porfolioImage5">
                    </div>
                    <div class="hover-items">
                        <h3>Project Source</h3>
                        <div class="icons">
                            <a href="#" class="icon">
                                <i class="fa-brands fa-github"></i>
                            </a>
                            <a href="#" class="icon">
                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                            </a>
                            <a href="#" class="icon">
                                <i class="fa-solid fa-image"></i>
                            </a>
                        </div>
                        
                        
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="image">
                        <img id="port-img-6" alt="porfolioImage6">
                    </div>
                    <div class="hover-items">
                        <h3>Project Source</h3>
                        <div class="icons">
                            <a href="#" class="icon">
                                <i class="fa-brands fa-github"></i>
                            </a>
                            <a href="#" class="icon">
                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                            </a>
                            <a href="#" class="icon">
                                <i class="fa-solid fa-image"></i>
                            </a>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </section>
        <section class="section sec4 blogs" id="blogs">
            <div class="main-title">
                <h2>My <span>Blogs</span><span class="bg-text">My Blogs</span></h2> 
            </div>
            <div class="blogs-grid">
                <div class="blog">
                    <img id="blog-img-1" alt="Blog Image 1">
                    <div class="blog-text">
                        <h4>
                            How to create your own webpage
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                        </p>
                    </div>
                </div>
                <div class="blog">
                    <img id="blog-img-2" alt="Blog Image 2">
                    <div class="blog-text">
                        <h4>
                            How to create your own webpage
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                        </p>
                    </div>
                </div>
                <div class="blog">
                    <img id="blog-img-3" alt="Blog Image 3">
                    <div class="blog-text">
                        <h4>
                            How to create your own webpage
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                        </p>
                    </div>
                </div>
                <div class="blog">
                    <img id="blog-img-4" alt="Blog Image 4">
                    <div class="blog-text">
                        <h4>
                            How to create your own webpage
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                        </p>
                    </div>
                </div>
                <div class="blog">
                    <img id="blog-img-5" alt="Blog Image 5">
                    <div class="blog-text">
                        <h4>
                            How to create your own webpage
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                        </p>
                    </div>
                </div>
                <div class="blog">
                    <img id="blog-img-6" alt="Blog Image 6">
                    <div class="blog-text">
                        <h4>
                            How to create your own webpage
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section sec5 contact" id="contact"></section>
    </main>
    <div class="controls">
        <div class="control control-1 active-btn" data-id="home">
            <i class="fa-solid fa-house"></i>
        </div>
        <div class="control control-2" data-id="about">
            <i class="fa-solid fa-user"></i>
        </div>
        <div class="control control-3" data-id="portfolio">
            <i class="fa-solid fa-briefcase"></i>
        </div>
        <div class="control control-4" data-id="blogs">
            <i class="fa-solid fa-newspaper"></i>
        </div>
        <div class="control control-5" data-id="contact">
            <i class="fa-solid fa-envelope"></i>
        </div>
    </div>
    
</body>
</html>