/* @media screen and (max-width: 1432px){
    section{
        padding: 7rem 11rem;
    }
    
    // Contact 

    .contact-content-con{
        flex-direction: column;
        .right-contact{
            margin-left: 0;
            margin-top: 2.5rem;
        }
        .i-c-2{
            flex-direction: column;
            :last-child{
                margin-left: 0 !important;
                margin-top: 1.5rem;
            }
        }
      }

}
 */
