@mixin for-phone {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portait {
  @media (min-width: 600px) and (max-width: 899px) { @content; }
}
@mixin for-tablet-landscape {
  @media (min-width: 900px) and (max-width: 1199px) { @content; }
}

/* Blogs Section */

.blogs-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 5rem;
    @include for-phone {
      grid-template-columns: 1fr;
      grid-gap: 0;
    }
    @include for-tablet-portait {
      grid-template-columns: repeat(2, 1fr);
      padding-bottom: 6rem;
      margin-top: 6rem;
      @media screen and (min-width: 750px) and (max-width: 899px) {
        margin: 6rem 3.5rem;
      }
    }
    @include for-tablet-landscape {
      grid-template-columns: repeat(2, 1fr);
      padding-bottom: 6rem;
      margin-top: 6rem;
    }
    .blog{
      position: relative;
      background-color: var(--color-grey5);
      border-radius: 5px;
      box-shadow: 1px 1px 20px rgba(0,0,0,.1);
      transition: var(--stand-trans);
      @include for-phone {
        margin: 2rem;
      }
      &:hover{
        box-shadow: 1px 1px 20px rgba(0,0,0,.3);
        transform: translateY(-5px);
        transition: var(--stand-trans);
        img{
          filter: grayscale(0);
          object-fit: cover;
          border-radius: 15px;   
          transform: scale(1.1);
          box-shadow: opx 4px 20px rgba(0,0,0,.8);
        }
      }
      img{
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        filter: grayscale(100%);
        transition: var(--stand-trans);
      }
      .blog-text{
        margin-top: -7px;
        padding: 1.1rem;
        border-top: 8px solid var(--color-secondary);
        h4{
          font-size: 1.5rem;
          margin-bottom: .7rem;
          transition: var(--stand-trans);
          cursor: pointer;
          &:hover{
            color: var(--color-secondary);
          }
  
        }
        p{
          color: var(--color-grey2);
          line-height: 1.5rem;
          padding-bottom: 1rem;
        }
      }
    }
  }
  