@mixin for-phone {
  @media (max-width: 749px) { @content; }
}
@mixin for-tablet-portait {
  @media (min-width: 750px) and (max-width: 899px) { @content; }
}
@mixin for-tablet-landscape {
  @media (min-width: 900px) and (max-width: 1199px) { @content; }
}
.controls{
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    @include for-phone {
      top: auto;
      bottom: 0;
      flex-direction: row;
      justify-content: center;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      background-color: var(--color-grey5);
    }
    .control{
      padding: 1rem;
      cursor: pointer;
      background-color: var(--color-grey4);
      width: 55px;
      height: 55px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: .7rem 0;
      box-shadow: var(--box-shadow-1);
      i{
        font-size: 1.2rem;
        color: var(--color-white);
        pointer-events: none;
      }
      
      @include for-phone {
        margin: 1rem .3rem;
      }
    }
    .active-btn{
      background-color: var(--color-secondary);
      transition: var(--stand-trans);
      i{
        color: var(--color-white);
      }
    }
  }
  
  .theme-btn{
    top: 5%;
    right: 3%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--color-grey4);
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 15px rgba(0,0,0,.3);
    transition: var(--stand-trans);
    &:active{
      transform: translateY(-3px);
    }
    i{
      font-size: 1.4rem;
      color: var(--color-grey2);
      pointer-events: none;
    }
    @include for-phone {
      width: 50px;
      height: 50px;
    }
  }