@mixin for-phone {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portait {
  @media (min-width: 600px) and (max-width: 899px) { @content; }
}
@mixin for-tablet-landscape {
  @media (min-width: 900px) and (max-width: 1199px) { @content; }
}

/*Header-Content*/

.header-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
    @include for-phone {
      grid-template-columns: 1fr;
      padding-bottom: 6rem;
    }
    .left-header{
      display: flex;
      align-items: center;
      position: relative;
      .h-shape{
        transition: var(--stand-trans);
        width: 65%;
        height: 100%;
        background-color: var(--color-secondary);
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
        @include for-phone {
          display: none;
        }
      }
      .image{
        border-radius: var(--br-sm-2);
        height: 80%;
        width: 68%;
        margin-left: 4rem;
        background-color: var(--color-black);
        transition: var(--stand-trans);
        @include for-phone {
          margin: 0 auto;
          width: 90%;
        }
        @include for-tablet-portait {
          margin-left: 2rem;
          width: 90%;
        }
        img{
          width: 100%;
          height: 100%;
          border-radius: var(--br-sm-2);
          object-fit: cover;
          transition: var(--stand-trans);
          filter: grayscale(100%);
          &:hover{
            filter: grayscale(0);
          }
        }
      }
    }
  
    .right-header{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 18rem;
      font-family: var(--font-header);
      .name{
        font-size: 3rem;
        span{
          color: var(--color-secondary);
        }
      }
      p{
        font-family: var(--font-text);
        margin: 1.5rem;
        line-height: 2rem;
      }
      @include for-phone {
        padding: 0 2rem;
        padding-top: 2rem;
        grid-row: 1;
        width: 90%;
        margin: 0 auto;
        .name{
            font-size: 2rem;
            margin-bottom: .5rem;
        }
        p{
            font-size: 1rem;
            margin: 1rem;
        }
      }
      @include for-tablet-portait {
        padding-right: 1rem;
        //grid-row: 1;
        width: 90%;
        margin: 0 auto;
        .name{
            font-size: 2.25rem;
        }
        p{
            margin: 1rem 0;
        }
        @media screen and (min-width: 750px) {
          padding-right: 4rem;
        }
      }
      @include for-tablet-landscape {
        padding-right: 8rem;
        //grid-row: 1;
        width: 90%;
        margin: 0 auto;
        .name{
            font-size: 2.5rem;
        }
        p{
            margin: 1rem 0;
        }
      }
    }
  }